/*:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}
*/

html {
  height: 100%;
}

body {
width: 960px;
margin: 0 auto;
min-height: 100%;
}

.navBar {
  list-style: none;
  width: 100%;
  align-content: center;
  height: 10%;
}

.navBarList li{
display: inline;
padding: 1.5em;
}

.mainContent {
  width: 70%;
  height: 80%;
}

.sidebar {
  width: 30%;
  float: right;
}

.footer {
  height: 10%;
}

.mainContent p {
  width: 90%;
  margin: 2px 2px;
}